@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(102, 102, 102);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--font-figtree);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Figtree", sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.small-font {
  font-size: 12px;
}